li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}

#right, #left {
	border:solid black 4px;
}

#clearDiv {
	position: relative;
	clear:both;
}